@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Muli|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
/* End Fonts */
/* Start Global rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* End Global rules */

/* Start body rules */
body {

    background: #6c6a6d ;
    font-family: 'Vibur', cursive;
/*   the main font */
    font-family: 'Abel', sans-serif;
opacity: .95;
/* background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%); */
}
body {
     font-family:Arial, Sans-Serif;
}
.clearfix:before, .clearfix:after{
     content: "";
     display: table;
}
.clearfix:after{
     clear: both;

}
a{
     color:#0067ab;
     text-decoration:none;
}
a:hover{
     text-decoration:underline;
}
header {
    margin: 2% auto 10% auto;
    text-align: center;
}
header h2 {
    font-size: 250%;
    font-family: 'Playfair Display', serif;
    color: #3e403f;
}
header p {letter-spacing: 0.05em;}
.page_box{
  width: 450px;
  min-height: 500px;
  height: auto;
  border-radius: 5px;
  margin: 2% auto;
  box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
  padding: 2%;
  background-image: linear-gradient(-225deg, #c0b283 50%, #373737 50%);
}
form .con {
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: space-around;
    justify-content: space-around;

    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

      margin: 0 auto;
}
input[type='text'], input[type='email'],
input[type='password'] {
  width: 240px;
    height: 50px;

    margin-top: 2%;
    margin-left: 15%;
    padding: 15px;

    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;

    outline: none;
    border: none;

    border-radius: 0px 0px 0px 0px;
    transition: 0.2s linear;
}
input[id="txt-input"] {width: 250px;}
/* focus  */
input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}
input[type='submit']{
  width: 240px;
    height: 50px;
    background-color: #57bc90;

    margin-top: 5%;
    margin-left: 15%;
    padding: 15px;

    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: black;

    outline: none;
    border: none;

    border-radius: 5px 5px 5px 5px;
    transition: 0.2s linear;

}
#noreg {
    width: 240px;
    height: 23px;
    background-color: #d1d6d4;
    border-radius: 1px 1px 1px 1px;
    margin-top: 15%;
    margin-left: 16%;
  }

  #justlogo{
    position: absolute;
    left:0px;
    top:0px;
  }

.hidden {
  display: none;
}
.homebutton{
  width: 150px;
  min-height: 50px;
  height: auto;
  border-radius: 5px;
  margin: 2% auto;
  padding: 2%;
  background-image: linear-gradient(-225deg, #c0b283 50%, #373737 50%);
  position: absolute;
  top:500px;
  font-family: 'Muli', sans-serif;
  color: white;
  left: 15px;
  font-size: 25px;
  font-weight: bolder;
  box-shadow: 0 9px #332d2d;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
}
.homebutton:hover{
background-image: linear-gradient(-225deg, #373737 50%, #c0b283 50%);
}
.homebutton:active{
  background-image: linear-gradient(-225deg, #373737 50%, #c0b283 50%);
  box-shadow: 0 5px #999;
  transform: translateY(4px);
}
